
*#logo
{
  position: absolute;
  left: 400px;
  top: 100px;
  width: 380px;
  height: 380px;
  -webkit-transform: scaleY(0.5);
}

*#logo *.square:nth-child(1)
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(0,81,0) 0.0%,rgb(70,181,0) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(1):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(1):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(1) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(1):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(60,171,0) 0.0%,rgb(10,121,0) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(1):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(80,191,10) 0.0%,rgb(150,255,80) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(5)
{
  position: absolute;
  left: 20px;
  top: 100px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(0,30,0) 0.0%,rgb(0,130,34) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(5):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(5):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(5) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(5):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(0,120,24) 0.0%,rgb(0,70,0) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(5):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(10,140,44) 0.0%,rgb(80,210,114) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(9)
{
  position: absolute;
  left: 40px;
  top: 200px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(105,0,0) 0.0%,rgb(205,7,0) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(9):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(9):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(9) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(9):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(195,0,0) 0.0%,rgb(145,0,0) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(9):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(215,17,10) 0.0%,rgb(255,87,80) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(13)
{
  position: absolute;
  left: 60px;
  top: 300px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(72,0,0) 0.0%,rgb(172,0,32) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(13):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(13):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(13) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(13):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(162,0,22) 0.0%,rgb(112,0,0) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(13):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(182,10,42) 0.0%,rgb(252,80,112) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(2)
{
  position: absolute;
  left: 100px;
  top: 20px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(20,131,0) 0.0%,rgb(120,231,50) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(2):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(2):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(2) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(2):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(110,221,40) 0.0%,rgb(60,171,0) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(2):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(130,241,60) 0.0%,rgb(200,255,130) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(6)
{
  position: absolute;
  left: 120px;
  top: 120px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(0,80,0) 0.0%,rgb(50,180,84) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(6):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(6):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(6) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(6):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(40,170,74) 0.0%,rgb(0,120,24) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(6):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(60,190,94) 0.0%,rgb(130,255,164) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(10)
{
  position: absolute;
  left: 140px;
  top: 220px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(155,0,0) 0.0%,rgb(255,57,50) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(10):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(10):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(10) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(10):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(245,47,40) 0.0%,rgb(195,0,0) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(10):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(255,67,60) 0.0%,rgb(255,137,130) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(14)
{
  position: absolute;
  left: 160px;
  top: 320px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(122,0,0) 0.0%,rgb(222,50,82) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(14):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(14):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(14) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(14):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(212,40,72) 0.0%,rgb(162,0,22) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(14):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(232,60,92) 0.0%,rgb(255,130,162) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(3)
{
  position: absolute;
  left: 200px;
  top: 40px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(70,155,0) 0.0%,rgb(170,255,100) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(3):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(3):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(3) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(3):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(160,245,90) 0.0%,rgb(110,195,40) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(3):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(180,255,110) 0.0%,rgb(250,255,180) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(7)
{
  position: absolute;
  left: 220px;
  top: 140px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(0,130,34) 0.0%,rgb(100,230,134) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(7):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(7):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(7) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(7):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(90,220,124) 0.0%,rgb(40,170,74) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(7):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(110,240,144) 0.0%,rgb(180,255,214) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(11)
{
  position: absolute;
  left: 240px;
  top: 240px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(155,7,0) 0.0%,rgb(255,107,100) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(11):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(11):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(11) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(11):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(245,97,90) 0.0%,rgb(195,47,40) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(11):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(255,117,110) 0.0%,rgb(255,187,180) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(15)
{
  position: absolute;
  left: 260px;
  top: 340px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(155,0,32) 0.0%,rgb(255,100,132) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(15):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(15):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(15) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(15):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(245,90,122) 0.0%,rgb(195,40,72) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(15):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(255,110,142) 0.0%,rgb(255,180,212) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(4)
{
  position: absolute;
  left: 300px;
  top: 60px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(120,155,50) 0.0%,rgb(220,255,150) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(4):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(4):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(4) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(4):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(210,245,140) 0.0%,rgb(160,195,90) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(4):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(230,255,160) 0.0%,rgb(255,255,230) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(8)
{
  position: absolute;
  left: 320px;
  top: 160px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(50,155,84) 0.0%,rgb(150,255,184) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(8):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(8):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(8) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(8):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(140,245,174) 0.0%,rgb(90,195,124) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(8):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(160,255,194) 0.0%,rgb(230,255,255) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(12)
{
  position: absolute;
  left: 340px;
  top: 260px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(155,57,50) 0.0%,rgb(255,157,150) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(12):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(12):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(12) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(12):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(245,147,140) 0.0%,rgb(195,97,90) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(12):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(255,167,160) 0.0%,rgb(255,237,230) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(16)
{
  position: absolute;
  left: 360px;
  top: 360px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(left,rgb(155,50,82) 0.0%,rgb(255,150,182) 100.0%);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 0.8);
  font: bold  italic 50px/60px "Helvetica","sans-serif";
  color: rgba(255,255,255,0.3125);
  -webkit-box-sizing: border-box;
  padding: 2px 22px 2px 22px;
}

*#logo *.square:nth-child(16):hover
{
  color: rgb(255,255,255);
}

*#logo *.square:nth-child(16):hover > div
{
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.3906) 100.0%);
}

*#logo *.square:nth-child(16) > div
{
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.0000) 0.0%,rgba(255,255,255,0.1563) 100.0%);
  border-bottom-left-radius: 100.0% 100.0%;
  border-bottom-right-radius: 40.0% 15.0%;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

*#logo *.square:nth-child(16):before
{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 20px;
  background: -webkit-linear-gradient(top,rgb(245,140,172) 0.0%,rgb(195,90,122) 100.0%);
  -webkit-transform: translate(0px,10px) skew(0.0deg,45.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo *.square:nth-child(16):after
{
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: -20px;
  height: 20px;
  background: -webkit-linear-gradient(left,rgb(255,160,192) 0.0%,rgb(255,230,255) 100.0%);
  -webkit-transform: translate(10px,0px) skew(45.0deg,0.0deg);
  -webkit-box-shadow: 0 0 40px rgba(80,40,0, 1);
}

*#logo > div
{
  position: absolute;
  background: rgb(255,0,0);
  -webkit-transform: rotateZ(45.0deg);
}

