body
{
  margin  : 0px 0px 0px 0px;
  padding : 0px 0px 0px 0px;
}

body.index #container
{
  padding-top : 360px;
}

section
{
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  padding-top        : 60px;
  padding-bottom     : 60px;
  border-top         : solid 1px rgba(0,0,0,0.0000);
}

section > div
{
  width              : 800px;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  margin             : 0px auto 0px auto;
  padding            : 0px 10px 0px 10px;
}

section .one-col
{
  width              : 550px;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

@media all and (min-width: 800px)
{
section .two-col > div
{
  width              : 50%;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

section .two-col > div:nth-child(1)
{
  float         : left;
  padding-right : 30px;
}

section .two-col > div:nth-child(2)
{
  float        : right;
  padding-left : 30px;
}

section .two-col br
{
  clear : both;
}

}

@media all and (max-width: 800px)
{
section .two-col
{
  width              : 550px;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

}

section div.code
{
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  border-radius      : 2px 2px 2px 2px;
  overflow-x         : auto;
  padding            : 20px 20px 20px 20px;
  margin-top         : 60px;
  margin-bottom      : 60px;
  -webkit-box-shadow : 0px 0px 60px rgba(0,0,0,0.1172);
  -moz-box-shadow    : 0px 0px 60px rgba(0,0,0,0.1172);
  -ms-box-shadow     : 0px 0px 60px rgba(0,0,0,0.1172);
  -o-box-shadow      : 0px 0px 60px rgba(0,0,0,0.1172);
  box-shadow         : 0px 0px 60px rgba(0,0,0,0.1172);
}

section div.code pre
{
  margin         : 0px 0px 0px 0px;
  font-size      : 16px;
  font-family    : "Monaco","Courier New", monospace;
  line-height    : 2.6ex;
  text-rendering : optimizeLegibility;
}

section div.code.haskell
{
  background : rgb(0,0,40);
}

section div.code.haskell pre
{
  color : rgba(255,255,255,0.6250);
}

section div.code.haskell pre .Comment
{
  color : rgba(0,255,0,0.6641);
}

section div.code.haskell pre .ConId
{
  color : rgb(156,235,255);
}

section div.code.haskell pre .Function
{
  color : rgb(255,255,255);
}

section div.code.haskell pre .Keyword
{
  color : rgb(76,155,210);
}

section div.code.haskell pre .Number
{
  color : rgb(255,100,0);
}

section div.code.haskell pre .String
{
  color : rgb(255,40,0);
}

section div.code.haskell pre .Symbol
{
  color : rgb(255,165,0);
}

section div.code.shell
{
  background : rgb(0,0,40);
}

section div.code.shell pre
{
  color : rgba(255,255,255,0.6250);
}

section div.code.shell pre .Comment
{
  color : rgba(0,255,0,0.6641);
}

section div.code.shell pre .ConId
{
  color : rgb(156,235,255);
}

section div.code.shell pre .Function
{
  color : rgb(255,255,255);
}

section div.code.shell pre .Keyword
{
  color : rgb(76,155,210);
}

section div.code.shell pre .Number
{
  color : rgb(255,100,0);
}

section div.code.shell pre .String
{
  color : rgb(255,40,0);
}

section div.code.shell pre .Symbol
{
  color : rgb(255,165,0);
}

section div.code.css
{
  background-color : none;
}

section div.code.css pre
{
  font-size : 14px;
  color     : rgb(68,85,102);
}

section div.code.css pre .Number
{
  color : rgb(255,0,0);
}

section div.code.css pre .Property
{
  color : rgb(0,0,0);
}

section div.code.css pre .Selector
{
  color : rgb(0,75,130);
}

section div.code.css pre .String
{
  color : rgb(255,0,0);
}

section div.code.css pre .Symbol
{
  color : rgb(195,105,0);
}

section div.code + div.code
{
  margin-top : -40px;
}

section .text
{
  font-size      : 20px;
  line-height    : 30px;
  font-family    : "Europa","Helvetica", sans-serif;
  text-rendering : optimizeLegibility;
  color          : rgb(34,34,34);
}

section .text a
{
  text-decoration    : none;
  -webkit-transition : background-color 0.5s ease 0.0s,color 0.2s ease 0.0s;
  -moz-transition    : background-color 0.5s ease 0.0s,color 0.2s ease 0.0s;
  -ms-transition     : background-color 0.5s ease 0.0s,color 0.2s ease 0.0s;
  -o-transition      : background-color 0.5s ease 0.0s,color 0.2s ease 0.0s;
  transition         : background-color 0.5s ease 0.0s,color 0.2s ease 0.0s;
  background-color   : rgba(255,255,0,0.0000);
  color              : rgb(56,135,190);
}

section .text a:hover
{
  background-color : rgba(255,255,0,0.2344);
}

section .text a:hover
{
  color : rgb(0,0,0);
}

section .text h3
{
  text-transform : uppercase;
  color          : rgb(0,55,110);
  font-weight    : bold;
}

section .text ul
{
  padding-left : 20px;
}

section .text code
{
  color : rgb(255,68,34);
}

section .text .goto
{
  padding-left : 25px;
}

section:nth-child(odd),
footer:nth-child(odd)
{
  background-color : rgb(248,248,248);
}

header
{
  position       : fixed;
  top            : 0px;
  left           : 0px;
  right          : 0px;
  height         : 240px;
  background     : -webkit-linear-gradient(top,rgb(175,80,0) 0%,rgb(255,180,70) 100%);
  background     : -moz-linear-gradient(top,rgb(175,80,0) 0%,rgb(255,180,70) 100%);
  background     : -ms-linear-gradient(top,rgb(175,80,0) 0%,rgb(255,180,70) 100%);
  background     : -o-linear-gradient(top,rgb(175,80,0) 0%,rgb(255,180,70) 100%);
  background     : linear-gradient(top,rgb(175,80,0) 0%,rgb(255,180,70) 100%);
  font-size      : 20px;
  line-height    : 30px;
  font-family    : "Europa","Helvetica", sans-serif;
  text-rendering : optimizeLegibility;
  color          : rgb(34,34,34);
  line-height    : inherit;
}

header:before
{
  top              : 0px;
  bottom           : 0px;
  left             : 0px;
  right            : 0px;
  position         : absolute;
  content          : "";
  pointer-events   : none;
  background-size  : 100% 5px;
  background-image : -webkit-repeating-linear-gradient(top,rgba(255,255,255,0.0000) 0%,rgba(255,255,255,0.0781) 50%,rgba(255,255,255,0.0000) 100%);
  background-image : -moz-repeating-linear-gradient(top,rgba(255,255,255,0.0000) 0%,rgba(255,255,255,0.0781) 50%,rgba(255,255,255,0.0000) 100%);
  background-image : -ms-repeating-linear-gradient(top,rgba(255,255,255,0.0000) 0%,rgba(255,255,255,0.0781) 50%,rgba(255,255,255,0.0000) 100%);
  background-image : -o-repeating-linear-gradient(top,rgba(255,255,255,0.0000) 0%,rgba(255,255,255,0.0781) 50%,rgba(255,255,255,0.0000) 100%);
  background-image : repeating-linear-gradient(top,rgba(255,255,255,0.0000) 0%,rgba(255,255,255,0.0781) 50%,rgba(255,255,255,0.0000) 100%);
}

header nav
{
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  position           : absolute;
  left               : 0px;
  right              : 0px;
  bottom             : -60px;
  height             : 60px;
  background         : rgba(255,255,255,0.9727);
  -webkit-box-shadow : 0px 0px 60px rgba(0,0,0,0.0781);
  -moz-box-shadow    : 0px 0px 60px rgba(0,0,0,0.0781);
  -ms-box-shadow     : 0px 0px 60px rgba(0,0,0,0.0781);
  -o-box-shadow      : 0px 0px 60px rgba(0,0,0,0.0781);
  box-shadow         : 0px 0px 60px rgba(0,0,0,0.0781);
  line-height        : 60px;
  font-size          : 19px;
  text-transform     : uppercase;
}

header nav > div
{
  width              : 800px;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  margin             : 0px auto 0px auto;
  width              : 530px;
  text-align         : center;
}

header nav a
{
  padding-right      : 5px;
  -webkit-transition : color 0.4s ease 0.0s;
  -moz-transition    : color 0.4s ease 0.0s;
  -ms-transition     : color 0.4s ease 0.0s;
  -o-transition      : color 0.4s ease 0.0s;
  transition         : color 0.4s ease 0.0s;
  text-decoration    : none;
  color              : rgb(56,135,190);
}

header nav a:last-of-type
{
  padding-right : 0px;
}

header nav a:hover
{
  color : rgb(0,0,0);
}

header > #logo
{
  width              : 800px;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  margin             : 0px auto 0px auto;
  width              : 550px;
  padding-top        : 40px;
  height             : 100%;
  overflow           : hidden;
  background-image   : -webkit-radial-gradient(center,ellipse closest-side,rgba(255,255,0,0.5859) 0%,rgba(255,255,0,0.0977) 50%,rgba(255,255,0,0.0000) 75%);
  background-image   : -moz-radial-gradient(center,ellipse closest-side,rgba(255,255,0,0.5859) 0%,rgba(255,255,0,0.0977) 50%,rgba(255,255,0,0.0000) 75%);
  background-image   : -ms-radial-gradient(center,ellipse closest-side,rgba(255,255,0,0.5859) 0%,rgba(255,255,0,0.0977) 50%,rgba(255,255,0,0.0000) 75%);
  background-image   : -o-radial-gradient(center,ellipse closest-side,rgba(255,255,0,0.5859) 0%,rgba(255,255,0,0.0977) 50%,rgba(255,255,0,0.0000) 75%);
  background-image   : radial-gradient(center,ellipse closest-side,rgba(255,255,0,0.5859) 0%,rgba(255,255,0,0.0977) 50%,rgba(255,255,0,0.0000) 75%);
}

header > #logo a
{
  text-decoration : none;
  color           : inherit;
}

header > #logo h1,
header > #logo h2
{
  text-transform : uppercase;
  text-align     : center;
  margin         : 0px 0px 0px 0px;
}

header > #logo h1
{
  font-size      : 90px;
  color          : rgba(255,255,255,0.7812);
  text-shadow    : 0px 0px 20px rgba(175,80,0,0.7812);
  font-weight    : normal;
  letter-spacing : 0.4em;
}

header > #logo h1 span.a
{
  letter-spacing : 0.35999em;
}

header > #logo h1 span.y
{
  letter-spacing : 0em;
}

header > #logo h2
{
  font-size      : 35px;
  color          : rgba(0,0,0,0.4688);
  letter-spacing : 0.29999em;
}

header > #logo h2 a:hover
{
  color : rgba(0,0,0,0.8594);
}

footer > div
{
  width              : 800px;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  margin             : 0px auto 0px auto;
  width              : 550px;
  font-size          : 20px;
  line-height        : 30px;
  font-family        : "Europa","Helvetica", sans-serif;
  text-rendering     : optimizeLegibility;
  color              : rgb(34,34,34);
  font-size          : 12px;
  text-transform     : uppercase;
  text-align         : center;
  color              : rgba(0,0,0,0.5859);
  padding            : 10px 0px 10px 0px;
}


/* Generated with Clay, http://fvisser.nl/clay */