Options +Includes +ExecCGI +FollowSymLinks +Indexes
#RewriteEngine on
#RewriteRule (.*) server/webstore/webstore.cgi [L]
AddHandler cgi-script .cgi .lhs
AddHandler server-parsed .html .css .js
AddDefaultCharset utf-8
