
body,
html
{
  height: 100.0%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body
{
  background-color: rgb(220,220,220);
  font-family: Helvetica, sans-serif;
  color: rgb(40,30,0);
}

body *#container
{
  min-height: 100.0%;
  min-width: 100.0%;
}

footer
{
  background-color: rgb(255,136,0);
  color: rgb(255,255,255);
  position: absolute;
  bottom: 0px;
  width: 100.0%;
  height: 200px;
}

